@import 'tailwindcss';

:root {
	--bg-primary: oklch(1 0 0);
	--bg-secondary: oklch(0.98 0.0025 228.78);
	--fg-primary: oklch(0.19 0.005 240);
	--fg-secondary: oklch(0.54 0.012 206);
	--accent: oklch(0.53 0.24 257);
	--border: oklch(0.925 0.005 70);

	--navbar-height: 3.066rem;
}

[data-theme='dark'] {
	--bg-primary: oklch(0.08 0 0);
	--bg-secondary: oklch(0.2 0 0);
	--fg-primary: oklch(0.94 0.005 230);
	--fg-secondary: oklch(0.75 0.01 210);
	--accent: oklch(0.6 0.16 250);
	--border: oklch(0.2 0 0);
}

@theme inline {
	--font-display: 'Outfit', sans-serif;
	--font-body: 'Inter', sans-serif;
	--font-inherit: inherit;

	--color-surface-primary: var(--bg-primary);
	--color-surface-secondary: var(--bg-secondary);

	--color-fg-primary: var(--fg-primary);
	--color-fg-secondary: var(--fg-secondary);

	--color-accent: var(--accent);
	--color-border: var(--border);
	--color-pinned: var(--pinned);

	--ease-modern: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
	@apply bg-surface-primary text-fg-primary 
    font-body text-base leading-6 antialiased box-border
    transition-colors  ease-modern;

	font-feature-settings: 'liga', 'kern';
}

html,
body {
	@apply h-full m-0;
}

@supports (scrollbar-width: auto) {
	html {
		scrollbar-color: var(--fg-secondary) var(--bg-primary);
		scrollbar-width: thin;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display font-semibold leading-tight;
}

p {
	@apply text-fg-secondary font-normal;
}

a {
	@apply text-accent no-underline transition-colors duration-200 ease-modern;
}

input {
	@apply w-full px-3 py-2 !border !border-border !border-solid rounded-md
		   bg-surface-primary text-fg-primary
		   font-body text-base box-border
		   transition-colors duration-200 ease-modern;

	font-feature-settings: 'liga', 'kern';
}

input:focus {
	@apply outline-none border-accent;
	box-shadow: 0 0 0 2px color-mix(in oklch, var(--accent) 10%, transparent);
}

input:disabled {
	@apply opacity-50 cursor-not-allowed;
	background-color: var(--bg-secondary);
}

[data-fs-label] {
	@apply block mb-1 font-display font-semibold text-fg-primary
		   text-sm leading-tight;
}

input[data-fs-error] {
	@apply border-red-500;
	box-shadow: 0 0 0 2px color-mix(in oklch, red 10%, transparent);
}

[data-fs-field-errors] {
	@apply mt-1 space-y-1 mb-1;
}

[data-fs-field-error] {
	@apply text-red-600 text-sm font-medium;
}

[data-fs-description] {
	@apply block mt-1 text-fg-secondary text-xs;
}

[data-theme='dark'] [data-fs-field-error] {
	@apply text-red-400;
}
